.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary_button {
  background-color: #bbbbee;
  font-weight: bold;
  border-radius: 10%;
  border: 2px solid #888;
  margin: 5px;
}

.primary_input {
  background-color: #eeeebb;
}

.headerNavLink {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}

#blogTitleInput {
  font-size: 14px;
  height: 13px;
}

#blogTextInput {
  color: red;
  font-size: 14px;
  height: 90px;
  width: 50%;
}
